:root {
  --cor-fundo: #01080E;
  --cor-principal: #0B0D20 ;
  --cor-secundaria: #212333;
  --cor-destaque: #2BDEFD;
  --cor-texto: #D7F9FF;
}
body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.caixa-principal{
  background-color: var(--cor-principal);
  width: 90%;
  text-align: center;
  padding: 20px;
}
h1{
 color: var(--cor-destaque);
}
function mostraAlternativas() {
  for (const alternativa of perguntaAtual.alternativas) {
    const botaoAlternativas = document.createElement("button");
    botaoAlternativas.textContent = alternativa.texto;
    botaoAlternativas.addEventListener("click", function () {
      atual++;
      mostraPergunta();
    });
    caixaAlternativas.appendChild(botaoAlternativas);
  }
}
elementoOpcoes.addEventListener("click", () => respostaSelecionada(opcao));
function respostaSelecionada(opcaoSelecionada) {
 atual++;

 mostraPerguntaAtual();
}
function respostaSelecionada(opcaoSelecionada) {
 const resposta = opcaoSelecionada.afirmacoes;
 atual++;
 mostraPerguntaAtual();
}
let atual = 0;
let perguntaAtual;
let historiaFinal = "";
function respostaSelecionada(opcaoSelecionada){
    const afirmacoes = opcaoSelecionada.afirmacoes;
    historiaFinal = afirmacoes;
    atual++;
    mostraPergunta();
}
function mostraPergunta() {
  if (atual >= perguntas.length) {
    mostraResultado();
    return;
  }
  perguntaAtual = perguntas[atual];
  caixaPerguntas.textContent = perguntaAtual.enunciado;
  caixaAlternativas.textContent = "";
  mostraAlternativas();
}
button {
    background-color: var(--cor-principal);
    color: var(--cor-destaque);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}
